version: '3.8'
services:
  database:
    image: postgres
    container_name: postgres
    environment:
        POSTGRES_PASSWORD: nagmani 
    ports:
      - "5431:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: .
    environment:
      DATABASE_URL: postgresql://postgres:nagmani@database:5432/postgres
    depends_on:
      database:
        condition: service_healthy
    ports:
      - "3000:3000"
